* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #548687;
      text-align: center;
      font-family: sans-serif;
    }
    .container {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .game {
      display: flex;
      flex-wrap: wrap;
      width: 60vmin;
      height: 60vmin;
      gap: 1vmin;
    }
    .box {
      width: 18vmin;
      height: 18vmin;
      font-size: 4rem;
      background-color: white;
      color: red;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
    }
    .reset-btn, .new-btn {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: #191913;
      color: white;
      border: none;
      border-radius: 1rem;
      margin: 1rem;
      cursor: pointer;
    }
    .msg-container {
      margin-top: 1rem;
    }
    .msg {
      color: #ffffc7;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .hide {
      display: none;
    }
